# Block proprietary engines from leaving the local machine
*.py
*.pyc
__pycache__/
.DS_Store
*.csv
*.pem
series_history.json

# Only allow web framework files to be pushed
!.gitignore
!index.html
!web_status.json
!score_status.json


# HVL Telemetry Exemptions
!live_score.json
!web_status.json
!index.html
